<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book an Appointment</h1>
   <form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  {% if form.errors %}
    <div style="color:red;">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <button type="submit">Submit</button>
</form>

</body>
</html>
